@model GeneralBlogApp.ViewModels.CategoryVM
@{
    ViewData["Title"] = "Edit Category Page";
}

<section role="main" class="content-body">

    <!-- start: page -->
    <div class="row">
        <div class="col">
            <section class="card">
                <header class="card-header">
                    <h2 class="card-title text-primary">Edit Category</h2>
                </header>
                <div class="card-body">
                    <form class="form-horizontal form-bordered" id="editCatForm" asp-action="Edit" method="post" enctype="multipart/form-data">
                        <input asp-for="@Model.Category.Id" hidden/>
                        <div class="form-group row pb-3">
                            <label class="col-lg-3 control-label text-lg-end pt-2">Category Name</label>
                            <div class="col-lg-6">
                                <input asp-for="@Model.Category.Name" class="form-control" />
                                <span asp-validation-for="@Model.Category.Name" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row pb-3">
                            <label class="col-lg-3 control-label text-lg-end pt-2" for="textareaDefault">Meta Description</label>
                            <div class="col-lg-6">
                                <textarea asp-for="Category.MetaDescription" class="form-control" rows="3" maxlength="140"></textarea>
                            </div>
                        </div>
                        <div class="form-group row pb-3">
                            <label class="col-lg-3 control-label text-lg-end pt-2">Meta Keywords</label>
                            <div class="col-lg-6">
                                <div class="content">
                                    <p>Please press Enter after each tag</p>
                                    <div class="tag-box">
                                        <ul>
                                            <input type="text" />
                                        </ul>
                                    </div>
                                </div>
                                @*           <div class="details">
                                <p><span></span> tags are remaining</p>
                                <button class="btn btn-secondary">Remove All</button>
                                </div> *@
                            </div>
                        </div>
                        <div class="form-group text-center pb-2">
                            <input type="submit" value="Edit" class="btn btn-primary" />
                            <a asp-controller="Category" asp-action="Index" class="btn btn-secondary ms-2" style="width:150px">
                                Back to List
                            </a>
                        </div>
                    </form>

                </div>
            </section>

        </div>
    </div>

    <!-- end: page -->
</section>
@section Scripts{
    <script>
        var keywords = JSON.parse(@Html.Raw(Json.Serialize(Model.Category.MetaKeywords)));
        let tagManager = new TagManager(".tag-box ul", "input", ".details span", 10, keywords);
        console.log(tagManager.tags);
        tagManager.input.addEventListener('keydown', function (e) {
            if (e.key === 'Enter') {
                e.preventDefault();
                tagManager.addTag(e);
               
            }
        });
        $('#editCatForm').submit(function (event) {
            // Add hidden input to store tags array in the form data
            $('<input>').attr({
                type: 'hidden',
                name: 'MetaKeywords',
                value: JSON.stringify(tagManager.tags)
            }).appendTo('#editCatForm');

        });
    </script>
    @{
        <partial name="_ValidationScriptsPartial" />

    }
}

